<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ordermanager>
            <kitchen_confgn>
                <kitchen_reftime>5000</kitchen_reftime>
                <not_accepted_notfn_interval>5000</not_accepted_notfn_interval>
            </kitchen_confgn>
        </ordermanager>
    </default>
</config>
